body {
    font-family: 'Lato', sans-serif; /* Tipografía elegante y moderna */
    background-color: #121212; /* Fondo oscuro */
    color: #ccc; /* Texto en gris claro para un buen contraste */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    color: #f0f0f0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header {
    background-color: #333; /* Oscuro pero no completamente negro */
    color: #f0f0f0; /* Gris claro */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Sombra sutil */
    margin-bottom: 20px;
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas para más espacio */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.perfume {
    background-color: #1f2937; /* Fondo muy oscuro */
    border: 1px solid #444; /* Borde sutil */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfume img {
    width: 70%;
    height: 270px; /* Altura aumentada */
    object-fit: cover; /* Ajuste para cubrir */
    border-bottom: 2px solid #666; /* Borde más destacado */
    padding-bottom: 20px; /* Más padding */
}

.perfume h3 {
    font-size: 20px; /* Más grande */
    color: #f0f0f0; /* Texto más claro */
    margin: 15px 0;
}

.perfume p {
    color: #bbb; /* Texto más claro */
    font-size: 16px; /* Texto más grande */
    margin: 10px 0;
}

.perfume .price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50; /* Verde para precios, añade un toque de color */
}

.perfume:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #333; /* Consistencia con el header */
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer-links a {
    color: #4CAF50; /* Detalles en verde */
    text-decoration: none;
}
